In [38]:
import pandas as pd

In [39]:
alldf=[]
for t in ["Ia","Ib","Ic","II"]:
    df_down=pd.read_table(t+"_alldown.tsv",header=None)
    df_down["trend"]="downregulated"
    df_up=pd.read_table(t+"_allup.tsv",header=None)
    df_up["trend"]="upregulated"
    alldf=alldf+[pd.concat([df_down,df_up])]

In [46]:
for i in range(len(alldf)):
    alldf[i].columns=["gene name","trend"]

In [28]:
fig1e=pd.read_csv("supp_Fig1e.csv")
fig2c=pd.read_csv("supp_Fig2c.csv")
fig2c.columns=["gene name","correlation to Gata3(+)"]
fig3d=pd.read_csv("supp_Fig3d.csv")
fig3e=pd.read_csv("supp_Fig3e.csv")
fig3f=pd.read_csv("supp_Fig3f.csv")
fig3g=pd.read_csv("supp_Fig3g.csv")
fig4f=pd.read_csv("supp_Fig4f.csv")
fig5b=pd.read_csv("supp_Fig5b.csv")
fig5c=pd.read_csv("supp_Fig5c.csv")

In [29]:
alldf=[fig1e,fig2c]+alldf+[fig3d,fig3e,fig3f,fig3g,fig4f,fig5b,fig5c]

In [32]:
alldf=dict(zip(['fig1e','fig2c','fig2e_Ia','fig2e_Ib','fig2e_Ic','fig2e_II','fig3d','fig3e','fig3f','fig3g','fig4f','fig5b','fig5c'],
    alldf))

,Unnamed: 0,Actg1,Adcy1,Adgrv1,Aifm1,Alms1,Atp2b2,Bdp1,Cabp2,Cacna1d,...,Tjp2,Tmc1,Tmie,Tmprss3,Tprn,Triobp,Ush1c,Ush1g,Ush2a,Wfs1
0,IHC,-0.211011,-0.321628,0.027839,-0.043591,-0.066444,-0.406388,-0.321859,0.679339,0.271213,...,0.442198,0.501049,0.208351,0.281318,-0.253434,-0.036883,0.107874,-0.264490,-0.199482,-0.009988
1,OHC,0.389559,0.593775,-0.051396,0.080477,0.122666,0.750255,0.594202,-1.254165,-0.500700,...,-0.816366,-0.925013,-0.384647,-0.519357,0.467879,0.068092,-0.199152,0.488289,0.368274,0.018439

In [37]:
writer = pd.ExcelWriter('supp_ALL.xlsx', engine='xlsxwriter')
for f in alldf.keys():
    alldf[f].to_excel(writer, sheet_name=f)
writer.save()

In [ ]:




writer = pd.ExcelWriter('All_DE.xlsx', engine='xlsxwriter')
for cl in adata.obs.leiden.cat.categories:
    alldemean[cl-1].to_excel(writer, sheet_name="Leiden "+str(cl))
    
writer.save()